
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto&display=swap');

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: 'poppins', sans-serif;
  }

  nav{
    padding: 20px  10%;
     height: 10vh; 
  }
  nav ul {
    display: flex;
    align-items: center;
  }
  nav ul li {
    list-style: none;
    margin-right: 10% ;
    font-weight: bold;
  }
  nav ul li  img {
    width: 100px;
  }
  main {
       display: flex;
       align-items: center;
       justify-content: center;

  }
  .leftmain{
         width: 40%;
         padding-left: 10%;
  }
  .leftmain h1{
    font-size: 60px ;
  }
  .leftmain p {
    margin:  5% 0 ;
  }
  .leftmain button {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b ;
    border-radius: 10px;
  }
  .rightmain{
    width: 60%;
    padding: 7%;
    padding-bottom: 5%;
  }
  .rightmain div img {
    width: 30%;
  }
  .rightmain div {
    margin-bottom: 20px ;
  }

  
